# 1) Reshaping Data
# 2) Subset selection(Rows)
# 3) Subset selection(columns)
# 4) Summarize Data
# 5) Group Data
# 6) Make New columns
# 7) Data visualization
# 8) Outlier Detection

# 1) Reshaping Data
## privoting & Melt

In [1]:
import pandas as pd

In [3]:
table = pd.read_excel('Pivot.xlsx',sheet_name='Sheet1')

table.head()

   Year Month  Value
0  2010  Mth1  50000
1  2011  Mth1  50000
2  2012  Mth1  65000
3  2010  Mth2  50000
4  2011  Mth2  55000

In [4]:
tb_piv = table.pivot('Year','Month','Value')

tb_piv.head()

Month   Mth1   Mth2   Mth3   Mth4   Mth5
Year
2010   50000  50000  50000  45000  50000
2011   50000  55000  55000  65000  55000
2012   65000  65000  65000  65000  80000

In [5]:
table2 = pd.read_excel('Pivot.xlsx',sheet_name='Sheet2')

table2.head()

   Year   Mth1   Mth2   Mth3   Mth4   Mth5
0  2010  50000  50000  50000  45000  50000
1  2011  50000  55000  55000  65000  55000
2  2012  65000  65000  65000  65000  80000

In [6]:
unpivot = pd.melt(table2)

unpivot.head()

  variable  value
0     Year   2010
1     Year   2011
2     Year   2012
3     Mth1  50000
4     Mth1  50000

In [10]:
t2_melt = pd.melt(table2, id_vars =['Year'], var_name='Month', value_name='Value')

t2_melt

    Year Month  Value
0   2010  Mth1  50000
1   2011  Mth1  50000
2   2012  Mth1  65000
3   2010  Mth2  50000
4   2011  Mth2  55000
5   2012  Mth2  65000
6   2010  Mth3  50000
7   2011  Mth3  55000
8   2012  Mth3  65000
9   2010  Mth4  45000
10  2011  Mth4  65000
11  2012  Mth4  65000
12  2010  Mth5  50000
13  2011  Mth5  55000
14  2012  Mth5  80000

In [14]:
#สร้างข้อมูลบน python

data = {
    "location":['CityA','CityB'],
    "Temperature":['Predict','Actual'],
    "Jan-2010":[30,32],
    "Feb-2010":[45,43],
    "Mar-2010":[24,22]
}

data

{'location': ['CityA', 'CityB'],
 'Temperature': ['Predict', 'Actual'],
 'Jan-2010': [30, 32],
 'Feb-2010': [45, 43],
 'Mar-2010': [24, 22]}

In [15]:
df = pd.DataFrame(data, columns=['location','Temperature','Jan-2010','Feb-2010','Mar-2010'])
df

  location Temperature  Jan-2010  Feb-2010  Mar-2010
0    CityA     Predict        30        45        24
1    CityB      Actual        32        43        22

In [16]:
df2 = pd.melt(df)
df2

      variable    value
0     location    CityA
1     location    CityB
2  Temperature  Predict
3  Temperature   Actual
4     Jan-2010       30
5     Jan-2010       32
6     Feb-2010       45
7     Feb-2010       43
8     Mar-2010       24
9     Mar-2010       22

In [19]:
df2_melt = pd.melt(df, id_vars =['location','Temperature'], var_name='Month_year',value_name ='Sum')
df2_melt

  location Temperature Month_year  Sum
0    CityA     Predict   Jan-2010   30
1    CityB      Actual   Jan-2010   32
2    CityA     Predict   Feb-2010   45
3    CityB      Actual   Feb-2010   43
4    CityA     Predict   Mar-2010   24
5    CityB      Actual   Mar-2010   22

In [20]:
df2 =df2_melt[['Month_year','Temperature','location','Sum']]
df2

  Month_year Temperature location  Sum
0   Jan-2010     Predict    CityA   30
1   Jan-2010      Actual    CityB   32
2   Feb-2010     Predict    CityA   45
3   Feb-2010      Actual    CityB   43
4   Mar-2010     Predict    CityA   24
5   Mar-2010      Actual    CityB   22

In [21]:
#เรียง sum จากน้อยไปมาก
df2.sort_values('Sum')

  Month_year Temperature location  Sum
5   Mar-2010      Actual    CityB   22
4   Mar-2010     Predict    CityA   24
0   Jan-2010     Predict    CityA   30
1   Jan-2010      Actual    CityB   32
3   Feb-2010      Actual    CityB   43
2   Feb-2010     Predict    CityA   45

In [23]:
#เรียง sum จากมากไปน้อย
df2.sort_values('Sum',ascending=False)

  Month_year Temperature location  Sum
2   Feb-2010     Predict    CityA   45
3   Feb-2010      Actual    CityB   43
1   Jan-2010      Actual    CityB   32
0   Jan-2010     Predict    CityA   30
4   Mar-2010     Predict    CityA   24
5   Mar-2010      Actual    CityB   22

In [28]:
df2 = df2.rename(columns = {'Month_year':'Month_Y'})
df2

    Month_Y Temperature location  Sum
0  Jan-2010     Predict    CityA   30
1  Jan-2010      Actual    CityB   32
2  Feb-2010     Predict    CityA   45
3  Feb-2010      Actual    CityB   43
4  Mar-2010     Predict    CityA   24
5  Mar-2010      Actual    CityB   22

# 2) Subset selection(Rows)

In [29]:
sale = pd.read_csv('sample20.csv')
sale.head()

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
0,54528,12/9/2015,8,88.000,0.06,-6.38,10.48,2.89,Consumer,0.60,...,Medium,Train,621,Chonburi,East,Office,Supplies,SmallPack,C621,P978
1,30215,1/31/2014,23,3637.728,0.06,349.47,195.99,8.99,Home Office,0.60,...,Medium,Train,139,Phra Nakhon Si Ayutthaya,Central,IT,Communication,SmallBox,C139,P1022
2,16547,1/23/2014,8,1749.640,0.04,-533.23,218.75,69.64,Corporate,0.77,...,NotSpecified,Truck,576,Chonburi,East,Home,Table,SuperBig,C576,P292
3,48931,5/22/2014,33,750.660,0.00,120.05,20.95,4.00,Corporate,0.60,...,Slow,Train,146,Chiang mai,North,IT,Computer Accessories,SmallBox,C146,P477
4,48452,9/13/2015,15,73.410,0.08,-44.79,4.91,4.97,Corporate,0.38,...,Fast,Train,308,Phra Nakhon Si Ayutthaya,Central,Office,Binder,SmallBox,C308,P872

In [30]:
sale.head(3)

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
0,54528,12/9/2015,8,88.000,0.06,-6.38,10.48,2.89,Consumer,0.60,...,Medium,Train,621,Chonburi,East,Office,Supplies,SmallPack,C621,P978
1,30215,1/31/2014,23,3637.728,0.06,349.47,195.99,8.99,Home Office,0.60,...,Medium,Train,139,Phra Nakhon Si Ayutthaya,Central,IT,Communication,SmallBox,C139,P1022
2,16547,1/23/2014,8,1749.640,0.04,-533.23,218.75,69.64,Corporate,0.77,...,NotSpecified,Truck,576,Chonburi,East,Home,Table,SuperBig,C576,P292

In [31]:
sale

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
0,54528,12/9/2015,8,88.000,0.06,-6.38,10.48,2.89,Consumer,0.60,...,Medium,Train,621,Chonburi,East,Office,Supplies,SmallPack,C621,P978
1,30215,1/31/2014,23,3637.728,0.06,349.47,195.99,8.99,Home Office,0.60,...,Medium,Train,139,Phra Nakhon Si Ayutthaya,Central,IT,Communication,SmallBox,C139,P1022
2,16547,1/23/2014,8,1749.640,0.04,-533.23,218.75,69.64,Corporate,0.77,...,NotSpecified,Truck,576,Chonburi,East,Home,Table,SuperBig,C576,P292
3,48931,5/22/2014,33,750.660,0.00,120.05,20.95,4.00,Corporate,0.60,...,Slow,Train,146,Chiang mai,North,IT,Computer Accessories,SmallBox,C146,P477
4,48452,9/13/2015,15,73.410,0.08,-44.79,4.91,4.97,Corporate,0.38,...,Fast,Train,308,Phra Nakhon Si Ayutthaya,Central,Office,Binder,SmallBox,C308,P872
5,56677,3/16/2014,35,430.550,0.00,120.01,12.22,2.85,Corporate,0.55,...,Fast,Train,660,Nakhon Ratchasima,NorthEast,Home,Furniture,SmallPack,C660,P156
6,8231,9/22/2017,5,110.030,0.06,-31.33,19.98,10.49,Corporate,0.49,...,SuperFast,Train,602,Nakhon Ratchasima,NorthEast,Home,Furniture,SmallBox,C602,P015
7,4007,5/22/2015,18,1038.400,0.01,112.36,56.96,13.22,Corporate,0.56,...,Fast,Train,345,Chainat,Central,Office,Equipment,SmallBox,C345,P349
8,898,5/7/2015,26,7668.550,0.04,-715.78,296.18,54.12,Consumer,0.76,...,Fast,Truck,677,Kanchanaburi,West,Home,Table,SuperBig,C677,P612
9,38311,3/27/2016,9,1201.510,0.10,-185.48,140.85,19.99,Consumer,0.73,...,Medium,Air,181,Sumutprakan,Metropolitan,Office,PowerSupply,SmallBox,C181,P498
10,15142,3/9/2017,21,330.220,0.07,-51.72,15.28,10.91,Corporate,0.36,...,NotSpecified,Train,522,Chiang mai,North,Office,Binder,SmallBox,C522,P888
11,35300,2/4/2015,13,119.030,0.06,29.62,8.95,2.01,Corporate,0.39,...,Medium,Train,193,Chainat,Central,Office,Paper,Bag,C193,P884
12,69,5/8/2014,28,51.530,0.03,0.35,1.68,0.70,Corporate,0.60,...,NotSpecified,Air,396,Lamphun,North,Office,Supplies,Bag,C396,P773
13,7527,11/15/2014,42,7062.616,0.02,2288.64,195.99,4.20,Small Business,0.56,...,Medium,Train,582,Saraburi,Central,IT,Communication,SmallBox,C582,P1026
14,12999,3/8/2015,31,2712.070,0.09,-435.56,95.43,19.99,Consumer,0.79,...,Fast,Train,305,Saraburi,Central,Office,PowerSupply,SmallBox,C305,P497
15,43367,2/11/2015,3,23.380,0.08,-12.19,6.48,5.14,Small Business,0.37,...,SuperFast,Train,38,Nakhon Ratchasima,NorthEast,Office,Paper,SmallBox,C038,P1245
16,43653,10/4/2017,39,666.400,0.00,2.02,15.73,7.42,Small Business,0.56,...,Fast,Air,31,Lamphun,North,Office,Pens,SmallPack,C031,P125
17,18368,11/4/2017,3,212.910,0.00,-65.15,70.97,3.50,Corporate,0.59,...,NotSpecified,Train,28,Sumutprakan,Metropolitan,Office,Equipment,SmallBox,C028,P1066
18,52964,3/5/2015,44,5735.790,0.08,828.27,136.98,24.49,Corporate,0.59,...,SuperFast,Train,381,Chonburi,East,Home,Furniture,Box,C381,P040
19,32516,9/28/2015,7,60.190,0.01,6.44,7.78,2.50,Corporate,0.38,...,SuperFast,Train,647,Nakhon Ratchasima,NorthEast,Office,Envelopes,SmallBox,C647,P972

In [32]:
sale.tail(3)

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
17,18368,11/4/2017,3,212.91,0.00,-65.15,70.97,3.50,Corporate,0.59,...,NotSpecified,Train,28,Sumutprakan,Metropolitan,Office,Equipment,SmallBox,C028,P1066
18,52964,3/5/2015,44,5735.79,0.08,828.27,136.98,24.49,Corporate,0.59,...,SuperFast,Train,381,Chonburi,East,Home,Furniture,Box,C381,P040
19,32516,9/28/2015,7,60.19,0.01,6.44,7.78,2.50,Corporate,0.38,...,SuperFast,Train,647,Nakhon Ratchasima,NorthEast,Office,Envelopes,SmallBox,C647,P972

In [33]:
sale.drop_duplicates('CustomerSegment')

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
0,54528,12/9/2015,8,88.000,0.06,-6.38,10.48,2.89,Consumer,0.60,...,Medium,Train,621,Chonburi,East,Office,Supplies,SmallPack,C621,P978
1,30215,1/31/2014,23,3637.728,0.06,349.47,195.99,8.99,Home Office,0.60,...,Medium,Train,139,Phra Nakhon Si Ayutthaya,Central,IT,Communication,SmallBox,C139,P1022
2,16547,1/23/2014,8,1749.640,0.04,-533.23,218.75,69.64,Corporate,0.77,...,NotSpecified,Truck,576,Chonburi,East,Home,Table,SuperBig,C576,P292
13,7527,11/15/2014,42,7062.616,0.02,2288.64,195.99,4.20,Small Business,0.56,...,Medium,Train,582,Saraburi,Central,IT,Communication,SmallBox,C582,P1026

In [34]:
sale.drop_duplicates('CustomerSegment')['CustomerSegment']

0           Consumer
1        Home Office
2          Corporate
13    Small Business
Name: CustomerSegment, dtype: object

In [35]:
#ต้องการสุ่ม 50%
sample = sale.sample(frac=0.5)
sample

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
1,30215,1/31/2014,23,3637.728,0.06,349.47,195.99,8.99,Home Office,0.60,...,Medium,Train,139,Phra Nakhon Si Ayutthaya,Central,IT,Communication,SmallBox,C139,P1022
13,7527,11/15/2014,42,7062.616,0.02,2288.64,195.99,4.20,Small Business,0.56,...,Medium,Train,582,Saraburi,Central,IT,Communication,SmallBox,C582,P1026
9,38311,3/27/2016,9,1201.510,0.10,-185.48,140.85,19.99,Consumer,0.73,...,Medium,Air,181,Sumutprakan,Metropolitan,Office,PowerSupply,SmallBox,C181,P498
18,52964,3/5/2015,44,5735.790,0.08,828.27,136.98,24.49,Corporate,0.59,...,SuperFast,Train,381,Chonburi,East,Home,Furniture,Box,C381,P040
4,48452,9/13/2015,15,73.410,0.08,-44.79,4.91,4.97,Corporate,0.38,...,Fast,Train,308,Phra Nakhon Si Ayutthaya,Central,Office,Binder,SmallBox,C308,P872
11,35300,2/4/2015,13,119.030,0.06,29.62,8.95,2.01,Corporate,0.39,...,Medium,Train,193,Chainat,Central,Office,Paper,Bag,C193,P884
7,4007,5/22/2015,18,1038.400,0.01,112.36,56.96,13.22,Corporate,0.56,...,Fast,Train,345,Chainat,Central,Office,Equipment,SmallBox,C345,P349
16,43653,10/4/2017,39,666.400,0.00,2.02,15.73,7.42,Small Business,0.56,...,Fast,Air,31,Lamphun,North,Office,Pens,SmallPack,C031,P125
2,16547,1/23/2014,8,1749.640,0.04,-533.23,218.75,69.64,Corporate,0.77,...,NotSpecified,Truck,576,Chonburi,East,Home,Table,SuperBig,C576,P292
10,15142,3/9/2017,21,330.220,0.07,-51.72,15.28,10.91,Corporate,0.36,...,NotSpecified,Train,522,Chiang mai,North,Office,Binder,SmallBox,C522,P888

In [38]:
#สุ่ม 5 rows
sale.sample(n=5)

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
9,38311,3/27/2016,9,1201.51,0.10,-185.48,140.85,19.99,Consumer,0.73,...,Medium,Air,181,Sumutprakan,Metropolitan,Office,PowerSupply,SmallBox,C181,P498
7,4007,5/22/2015,18,1038.40,0.01,112.36,56.96,13.22,Corporate,0.56,...,Fast,Train,345,Chainat,Central,Office,Equipment,SmallBox,C345,P349
17,18368,11/4/2017,3,212.91,0.00,-65.15,70.97,3.50,Corporate,0.59,...,NotSpecified,Train,28,Sumutprakan,Metropolitan,Office,Equipment,SmallBox,C028,P1066
18,52964,3/5/2015,44,5735.79,0.08,828.27,136.98,24.49,Corporate,0.59,...,SuperFast,Train,381,Chonburi,East,Home,Furniture,Box,C381,P040
5,56677,3/16/2014,35,430.55,0.00,120.01,12.22,2.85,Corporate,0.55,...,Fast,Train,660,Nakhon Ratchasima,NorthEast,Home,Furniture,SmallPack,C660,P156

In [39]:
#แสดง top sale 5 อันดับแรก
sale.nlargest(5,'Sales')

,OrderID,OrderDate,OrderQuantity,Sales,Discount,Profit,UnitPrice,ShippingCost,CustomerSegment,ProductBaseMargin,...,OrderUrgent,Shipping,CusName,Province,Region,ProCategory,ProSubCate,ProPacking,Customer_ID,ProNameID
8,898,5/7/2015,26,7668.550,0.04,-715.78,296.18,54.12,Consumer,0.76,...,Fast,Truck,677,Kanchanaburi,West,Home,Table,SuperBig,C677,P612
13,7527,11/15/2014,42,7062.616,0.02,2288.64,195.99,4.20,Small Business,0.56,...,Medium,Train,582,Saraburi,Central,IT,Communication,SmallBox,C582,P1026
18,52964,3/5/2015,44,5735.790,0.08,828.27,136.98,24.49,Corporate,0.59,...,SuperFast,Train,381,Chonburi,East,Home,Furniture,Box,C381,P040
1,30215,1/31/2014,23,3637.728,0.06,349.47,195.99,8.99,Home Office,0.60,...,Medium,Train,139,Phra Nakhon Si Ayutthaya,Central,IT,Communication,SmallBox,C139,P1022
14,12999,3/8/2015,31,2712.070,0.09,-435.56,95.43,19.99,Consumer,0.79,...,Fast,Train,305,Saraburi,Central,Office,PowerSupply,SmallBox,C305,P497

In [40]:
#แสดง top sale 5 อันดับแรก
sale.nlargest(5,'Sales')[['OrderID','Sales']]

    OrderID     Sales
8       898  7668.550
13     7527  7062.616
18    52964  5735.790
1     30215  3637.728
14    12999  2712.070

In [54]:
sale.nsmallest(5,'Sales')[['OrderID','Sales']]

    OrderID  Sales
15    43367  23.38
12       69  51.53
19    32516  60.19
4     48452  73.41
0     54528  88.00

In [48]:
#เลือกผู้ที่มี Orderquantity > 28 ขึ้นไป
sale[sale.OrderQuantity > 28][['OrderID','OrderQuantity']]

    OrderID  OrderQuantity
3     48931             33
5     56677             35
13     7527             42
14    12999             31
16    43653             39
18    52964             44

In [55]:
#เลือกผู้ที่มี Orderquantity > 28 ขึ้นไป
# Sales >2000
# Discount < 0.09

sale[(sale.OrderQuantity > 28)&(sale.Sales > 2000)&(sale.Discount < 0.09)][['OrderID','OrderQuantity','Sales','Discount']]

    OrderID  OrderQuantity     Sales  Discount
13     7527             42  7062.616      0.02
18    52964             44  5735.790      0.08

In [ ]:
#Logical in python